html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
    background-image: url("./img/table.png");
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

/* BUTTONS */

#new-btn-div, #draw-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

button {
    background-color: yellow;
    outline: none;
    border: none;
    width: 50%;
    padding: .5rem 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    background-color: goldenrod;
    cursor: pointer;
}

/* CARDS */

#battlefield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 50vw;
    max-width: 150px;
}

#player-1, #player-2 {
    height: 40%;
    min-height: 12.5rem;
    width: calc(40% * 5 / 7);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#player-1 img {
    margin-bottom: 1rem;
}

#player-2 img {
    margin-top: 1rem;
}

#player-1-wins, #player-2-wins {
    color: gold;
    text-transform: uppercase;
    font-weight: 600;
}