html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
    background-image: url("./img/table.png");
}

main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid red;
    height: 100vh;
    width: 100%;
}

/* BUTTONS */

button {
    background-color: yellow;
    outline: none;
    border: none;
    width: 50%;
    padding: .5rem 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    background-color: goldenrod;
}

#new-btn-div, #draw-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    outline: 1px solid yellow;
    margin: 1rem 0;
}

/* CARDS */

#battlefield {
    outline: 1px solid white;
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

#player-1, #player-2 {
    width: 40%;
    outline: 1px solid white;
}