html, body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}

body {
    background-color: green;
    background-image: url("./img/table.png");
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

#cards-left {
    text-align: center;
    color: gold;
    margin-top: 0;
    font-size: 1.25rem;
}

#count {
    margin: 0 .5rem;
    color: whitesmoke;
}

.hide {
    display: none;
}

.points {
    margin: 0;
    color: gold;
    font-size: 1rem;
}

#player-1-score, #player-2-score {
    color: whitesmoke;
}

/* BUTTONS */

#new-btn-div, #draw-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#new-btn-div {
    margin-bottom: .5rem;
}

button {
    background-color: yellow;
    outline: none;
    border: none;
    width: 50%;
    padding: .5rem 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    background-color: goldenrod;
    cursor: pointer;
    transform: scale(1.1);
}

button:disabled {
    cursor: not-allowed;
}

/* CARDS */

#battlefield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 50vw;
    max-width: 150px;
}

#player-1, #player-2 {
    height: 40%;
    min-height: 12.5rem;
    width: calc(40% * 5 / 7);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#player-1-card, #player-2-card {
    margin: .5rem 0;
}

#player-1-text, #player-2-text {
    color: gold;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
}

#player-1-text, #player-2-text {
    margin: 0;
}

#results {
    text-align: center;
    color: whitesmoke;
}

#results img {
    /* width: 45%; */
}

#results-cards {
    display: flex;
    justify-content: space-between;
}

.tie {
    outline: 2px solid red;
    border-radius: .5rem;
    width: 45%;
}

.win {
    outline: 2px solid gold;
    border-radius: .5rem;
    width: 55%;
}

.lost {
    outline: 2px solid red;
    border-radius: .5rem;
    width: 35%;
    height: 35%;
    transform: rotate(10deg);
    align-self: center;
}